img {
    width: 500;
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

#apps {
    background-color: lemonchiffon;
    height: 800px;
}

#games {
    background-color: lightcoral;
    height: 500px;
    

}

#art {
    background-color: lightblue;
    height: 800px;

}

#chatbot {
    background-color: lightgreen;
    height: 500px;

}

.line {
    height: 6px;
    background-color: black;
    width: 200px;
    margin: 10px;
}
#slides img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:30px;
}
